* {

    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  
  }
  
  #toggle-btn,
  
  .menu a {
  
    position: absolute;
  
    display: block;
  
    display: -ms-grid;
  
    display: grid;
  
    place-items: center;
  
    border-radius: 50%;

    z-index: 999;
  
  }
  
  #toggle-btn:hover {
    opacity: 1;
    cursor: pointer;
  }

  #toggle-btn {
    position: fixed;

    background-color: #0f1730;
  
    height: 100px;
  
    width: 100px;
  
    top: 15px;
  
    left: 15px;
  
    color: #ffffff;
  
    font-size: 40px;
  
    border: none;
  
    -webkit-transition: 0.3s;
  
    -o-transition: 0.3s;
    
    transition: 0.3s;
  
    opacity: 0.7;

    z-index: 999;
  }
  
  .menu a {
    position: fixed;
  
    background-color: lightslategrey;
  
    height: 70px;
  
    width: 70px;
  
    top: 30px;
  
    left: 30px;
  
    font-size: 22px;
  
    color: white;
  
    text-decoration: none;
  
    -webkit-transition: 0.5s;
  
    -o-transition: 0.5s;
  
    transition: 0.5s;
  
    opacity: 0;
  }
  
  .active {
  
    -webkit-transform: rotate(45deg);
  
    -ms-transform: rotate(45deg);
  
    transform: rotate(45deg);
  
  }

  .menu a.show {
    opacity: 0.6;
  }

  .menu a.show:hover {
    opacity: 1;
  }

  @media only screen and (max-width: 800px) {
    #toggle-btn {
      height: 50px;
      width: 50px;
      top: 15px;
      left: 15px;
      font-size: 20px;
    }

    .menu a {
      height: 35px;
      width: 35px;
      top: 30px;
      left: 30px;
      font-size: 11px;
    }
}