@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Slab&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: #efefc0;
    color: #000a16;
    font-family: 'Roboto Slab', serif;
    font-size: 2.4vh;
    line-height: 3.6vh;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 4.8vh;
    line-height: 7.2vh;
    margin: 1vh 0;
}

h2 {
    font-size: 3.6vh;
    line-height: 5.4vh;
    margin: 0.8vh 0;
}

h3 {
    font-size: 3vh;
    line-height: 4.5vh;
    margin: 0.5vh 0;
}

article {
    margin: 1.5vh 0;
    padding: 1vh 10vw;
}

section {
    margin: 1.2vh;
    background-color: rgb(215, 170, 138);
    border-radius: 5%;
    opacity: 0.85;
}

section > p {
    text-indent: 5%;
}

p {
    margin: 1vh 0;
    padding: 1vh 3vw;
}

a, a:visited {
    color: #323232;
    text-decoration: underline;
}

img.me {
    width: 30vw;
}

.ch {
    display: none;
}

#translate-btn {
    position: fixed;
    background-color: #0f1730;
    height: 100px;
    width: 100px;
    top: 15px;
    right: 15px;
    color: #ffffff;
    font-size: 40px;
    border: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.7;
    z-index: 999;
    border-radius: 50%;
}

#backToTop-btn {
    display: none;
    position: fixed;
    background-color: #0f1730;
    height: 100px;
    width: 100px;
    bottom: 15px;
    right: 15px;
    color: #ffffff;
    font-size: 40px;
    border: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.7;
    z-index: 999;
    border-radius: 50%;
}

#backToTop-btn:hover {
    opacity: 1;
    cursor: pointer;
}

#translate-btn:hover {
    opacity: 1;
    cursor: pointer;
}

.info-block {
    background-color: lightblue;
    color: #0f1730;
    position: absolute;
    display: block;
    margin: auto;
    padding: 15px 0;
    border-radius: 5px;
    width: 320px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-decoration: none;
    z-index: 999;
}

#insta-link {
    left: 0;
    right: 0;
    top: 40vh;
  }
#face-link {
    left: 0;
    right: 0;
    top: 60vh;
  }

@media only screen and (max-width: 800px) {
    img.me{
        width: 30vw;
    }
    #translate-btn {
      height: 50px;
      width: 50px;
      font-size: 20px;
    }
    #backToTop-btn {
        height: 50px;
        width: 50px;
        font-size: 20px;
      }
    article {
        margin: 1.5vh 0;
        padding: 1vh 6vw;
    }
}

